.stack-top {
  z-index: 999;
}
.border-radius {
  border-radius: var(--material-border-radius1);
}
.round {
  aspect-ratio: 1;
  border-radius: 999px;
  background-color: gray;
}
button.round {
  border: none;
  min-height: 5px;
}
.tight-container {
  display: flex;
}
.wide-container {
  display: flex;
  justify-content: space-between;
}
.vstack {
  display: flex;
  flex-direction: column;
}
.hstack {
  display: flex;
  flex-direction: row;
}
